@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f6f7f8;
}
.remove-from-cart-btn {
    background-color: #e3342f;
    color: white;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
}

.remove-from-cart-btn:hover {
    background-color: #cc1f1a;
}
